{% extends "base.html" %}

{% block style %}
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: white;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 400px;
        height: 500px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-bottom: 30px;
    }
    .logo img {
        width: 80%;
        height: auto;
    }
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 400px;
        height: 250px;
        border-radius: 10px;
    }
    .form h2 {
        margin-bottom: 20px;
    }
    .form input[type="text"], .form input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        font-size: 16px;
        color: #333;
        background-color: #f7f7f7;
    }
    .form input[type="submit"] {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        border-radius: 5px;
        border: none;
        background-color: #c60031;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        position: absolute;
        bottom: 0;
    }
    .form input[type="submit"]:hover {
        background-color: #b5002a;
    }

    
</style>
{% endblock style %}

{% block content %}
    <div class="container">
		<div class="logo">
			<img src="https://cdn.freebiesupply.com/logos/large/2x/hogeschool-rotterdam-1-logo-png-transparent.png" alt="Logo">
		</div>
		<form class="form" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login">
		</form>
	</div>



<script>
    // Create a TextEncoder for UTF-8 encoding
    var textEncoder = new TextEncoder("utf-8");
    
    // Function to sign data and log the signature
    function signAndLogData(hmacKey, data) {
        // Sign the data using the HMAC key
        window.crypto.subtle.sign(
            "HMAC",            // HMAC algorithm
            hmacKey,           // HMAC key
            textEncoder.encode(data)  // Encode the data as bytes
        ).then(signature => {
            // Convert the signature bytes to a hexadecimal string
            var signatureBytes = new Uint8Array(signature);
            var JWT = Array.prototype.map.call(signatureBytes, x => x.toString(16).padStart(2, '0')).join("");
            
            // Log the data and its signature
            console.log("Data:", data);
            console.log("JWT:", JWT);
            console.log("");
        });
    }
    
    // Import an HMAC key
    window.crypto.subtle.importKey(
        "raw",                   // Key format is raw bytes
        textEncoder.encode("Mustafa"),  // HMAC key data as bytes
        {
            name: "HMAC",        // HMAC algorithm
            hash: {name: "SHA-512"} // SHA-512 hash function
        },
        false, // Key not extractable
        ["sign", "verify"] // Key usages (signing and verifying)
    ).then(importedKey => {
        // Set up a timer to generate and sign new data every 2 seconds
        setInterval(function() {
            // Generate new data with a random number appended
            var newData = 'Mustafa\'s Data ' + Math.random();
            // Sign and log the new data
            signAndLogData(importedKey, newData);
        }, 2000); // 2 seconds in milliseconds
    });
    </script>
{% endblock content %}